<h1>Listing robots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Homepage</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @robots.each do |robot| %>
  <tr>
    <td><%= robot.name %></td>
    <td><%= link_to(robot.homepage,robot.homepage) %></td>
    <td><%= robot.content %></td>
    <td><%= link_to 'Show', robot %></td>
    <td><%= link_to 'Edit', edit_robot_path(robot) %></td>
    <td><%= link_to 'Destroy', robot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Robot', new_robot_path %>
<%= link_to('Back to menu',:action=>'index', :controller=>'home') %>