<h1> States for '<%= @robot.name %>'</h1>

<% total_progress=0 
week_list=[]
total_points=0%>
<% @all_weeks.each do |s| %>
  <%week_list << s.week_no%>
  <%end%>

<table>
  <th>Task</th>
  <th>Progress</th>
  <th> <%= form_tag(:action=>'state_of', :id=>@robot.id) do%>
         <%= select(:n2dal, :week_no ,week_list, {:prompt=>'Viewing week:'+@week_is} )%>
         <%=submit_tag('Go')%>
      <%end%>
  </th>
    <% @robot.states.each do |state| %>
      <% if state.week_no.to_s==@week_is %>
           <tr>
          <% @tasks.each do |task| %>
            <%if task.id==state.task_id%>
              <td><%= task.name %> </td> 
            <% end %>
          <% end %>
         <td><%= state.progress %> </td> 
             <%total_progress+=state.progress if state.progress!=nil
            total_points+=1%>
         <td><%= link_to('Edit', :action=>'state_edit', :id=>state.id)  %> </td>
         </tr>
      <% end %>
  <% end %>
  <tr>
    <td style="text-align:right; padding-right:20px;">
      <b>Total:</b>
    </td> 
    <td>
    <%=total_progress%> <%='('<<((100*total_progress)/total_points).round(2).to_s<<'%)' if total_progress!=0%>
    </td>
    <td>
    <%= form_tag(:action=>'state_edit_all', :id=>@robot.id) do%>
      <%=hidden_field_tag(:week_no , @week_is )%>
      <%=submit_tag('Edit all')%>
   <%end%>
  </td>
  </tr>
</table>
<br/>


<%= link_to('Back to robots',:action=>'index', :controller=>'robots') %>
<%= link_to('Back to menu',:action=>'index', :controller=>'home') %>