<h1>Robotex progress dashboard</h1>

  <p><%= link_to "Robots", robots_path %></p>
  <p><%= link_to "Tasks", tasks_path %></p>

<hr/>
<p><a href="http://robot.itcollege.ee">Estonian IT College - Robotics Club - 2010 Tallinn, Estonia</a>
<p><%= link_to "uurida graafikuid - progressi tuleb visualiseerida", "http://www.idolhands.com/ruby-on-rails/gems-plugins-and-engines/graphing-for-ruby-on-rails-with-seer"%></p>
<p>
<%= link_to "uurida veel  graafikuid", "http://edgeguides.rubyonrails.org/getting_started.html"%>
<p><%= link_to "Ruby raamat:)","http://mislav.uniqpath.com/poignant-guide/book/chapter-3.html"%>
<p><%= link_to "PDF raport asjast:)","http://thinkrelevance.com/blog/2010/06/15/rethinking-pdf-creation-in-ruby.html"%>
<p><%= link_to "The Dev Show","http://5by5.tv/devshow"%>


