
<h1>Robotex progress - Aasta <%=@year_no%>, Nädal  <%= @week_no %></h1>
<% 
  week_list=[] 
  @all_weeks.each do |s| 
    week_list << s.week_no 
  end 
%>





<% form_tag(:action=>'index') do %>
  <%= link_to "Robots", robots_path %> | <%= link_to "Tasks", tasks_path %> | <%= select(:state,:year_no, (2010..Time.now.strftime('%Y').to_i), {:prompt=>'Vali aasta...'} )%><%= select(:state,:week_no, week_list, {:prompt=>'Vali nädal ...'} )%>
  <%= submit_tag('Go') %>
<%end%>

<table border=1>
<tr>
  <th>Task</th>
    <% @robots.each do |robot| %>
      <th width="100px"><%= robot.name %></th>
    <% end %>
</tr>


<%i=0%>
<% @tasks.each do |task| %>
<% row_color=cycle("B7CED5","ffffff")%>
<tr style="background:#<%= row_color%>;">
<td><%=i=task.id%>. <%= task.name -%></td>
<%@robots.each do |r|%>
  <td><%=@states[task.id][r.id]%></td>
<%end%>

</tr>
<% end %>
<tr style="font-weight:bold;">
<td>Progress</td>
<%@robots.each do |r|%>
  <td><%=@rob[r.id]%> <%= "("<<((@rob[r.id]*100)/i).round(2).to_s<<"%)" if @rob[r.id]!=0%></td>
<%end%>
</tr>
</table>

    


